<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Web App - Error 404</title>
</head>
<body>
	<h1>Basic Web App</h1>
    <h2>E404: File not found. </h2>
    {% if filename is not none %}
    <p>Could not find file "{{filename}}".</p>
    {% else %}
    <p>The requested URL was not found on the server.  If you entered the URL manually please check your spelling and try again.</p>
    {% endif %}
</body>
</html>