<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Web Application</title>
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" /></head>
    {% if not debug %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% else %}    
    <script src="jquery-3.3.1.js"></script>
    {% endif %}
    <script type="text/javascript">
        //<![CDATA[
        
        //]]>
    </script>
<body>
    <h1>Building Your Basic Web Application</h1>
    <p>Please create index.html and index.py files inside webapp directory.</p>
    <p>Then run bwa-run.bat transpile.bat in two seperate terminals.</p>
</body>
</html>